<!DOCTYPE html>
<html>
<head>
    <title>Clicker WebApp</title>
</head>
<body>
    <h1>👆 Telegram Clicker</h1>
    <button onclick="sendClick()">Click Me!</button>

    <script>
        function sendClick() {
            fetch("/click", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ user_id: "12345" })  // в реальности user_id придёт из Telegram WebApp
            })
            .then(res => res.json())
            .then(data => {
                alert("Клик отправлен!");
            });
        }
    </script>
</body>
</html>
