html, body {
  margin: 0;
  padding: 0;
  background-color: #0e0c1f; /* фон всей страницы */
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.page {
  min-height: 100vh;
  background-color: #0e0c1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
